 

<div class='panel panel-primary'>  
    <div class='panel-heading'>  
       
    </div>   
    <div class='panel-body'>  
        <div class='table-responsive'>  
            <table class='table'>  
                <thead>  
                    <tr>  
                        <th>Title</th>  
                        <th>price</th>  
                        <th>category</th>  
                        <th>description</th>  
                        <th>image</th>  
                    </tr>  
                </thead>  
                <tbody>  
                    <tr>  
                        <td> {{singleProd.title}}</td>  
                        <td>{{singleProd.price}}</td>  
                        <td>{{singleProd.category}}</td>  
                        <td>{{singleProd.description}}</td>  
                        <td> <img src="{{ singleProd.image}}" width="50%" ></td>  
                    </tr>  
                </tbody>  
            </table>  
        </div>  
    </div>  
</div>