<div class="footer">
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull_left">
            <p><i class="fa fa-copyright"></i> 2022 @Bhairab</p>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <div class="pull_right  policy">
            <div class="links">Terms of Use</div>
            <div class="links">Privacy Policy</div>
            <div class="links">Cookie Policy</div>
            <div class="links" routerLink ="/contact" >Contact</div>
        </div>
    </div>
</div>
</div>
</div>